<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>
            {{question["title"]}}
        </title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <b>Submitted:</b> {{question["submission_time"]}}
                </td>
                <td>
                    <b>Views:</b> {{question["view_number"]}}
                </td>
                <td>
                    <b>Votes:</b> {{question["vote_number"]}}
                <td>
                    <a href="/question/{{ question['ID'] }}/edit"><img src="/static/edit.svg" width="20" height="20" alt="Edit"></a>
                </td>
                <td>
                    <a href="/question/{{ question['ID'] }}/delete"><img src="/static/waste-bin.svg" width="20" height="20" alt="Delete"></a>
                </td>
            </tr>
        </table>
        <h2>
            {% autoescape false %}
                {{ question["title"] }}
            {% endautoescape %}
        </h2>
        <p>
            {% autoescape false %}
                {{ question["message"] }}
            {% endautoescape %}
        </p>
        {% if question['image'] != '' %}
            <p>
                <img src="{{question['image']}}" height=20% width="20%" />
            </p>
        {% endif %}
        <table>
            <tr>
                <td>
                    <form action="/upvote_question" method="POST">
                    <input type="hidden" name="question_id" value="{{ question['ID'] }}"/>
                    <input type="hidden" name="vote" value="up"/>
                        <p>
                            <button type="Submit"><img src="/static/upvote.png" height="20" width="20" /></button>
                        </p>
                    </form>
                </td>
                <td>
                    <form action="/upvote_question" method="POST">
                    <input type="hidden" name="question_id" value="{{ question['ID'] }}"/>
                    <input type="hidden" name="vote" value="down"/>
                        <p>
                            <button type="Submit"><img src="/static/downvote.png" height="20" width="20" /></button>
                        </p>
                    </form>
                </td>
            </tr>
        </table>
            <form action="{{ url_for('new_answer', question_id=question['ID'] ) }}">
                <p>
                    <button type="Submit">Answer this question</button>
                </p>
            </form>
        {% for answer in answers_list %}
            <table>
                <tr>
                    <td><b>Submitted</b>: {{ answer['submission_time'] }}</td>
                    <td><b>Votes:</b> {{answer["vote_number"]}}</td>
                </tr>
                <tr>
                    <td>
                        <pre>   <b>Answer</b>: {{answer['message']}}</pre>
                    </td>
                    <td>
                        {% if question['image'] != '' %}
                            <pre>   <img src="{{answer['image']}}" height=20% width="20%" /></pre>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <form action="{{ url_for('delete_answer', answer_id=answer['ID'] ) }}">
                <p>
                    <button type="Submit">Delete answer</button>
                </p>
                </form>
                <table>
                    <tr>
                        <td><form action="/upvote_answer" method="POST">
                                <input type="hidden" name="question_id" value="{{ question['ID'] }}"/>
                                <input type="hidden" name="answer_id" value="{{ answer['ID'] }}"/>
                                <input type="hidden" name="vote" value="up"/>
                                <button type="submit"><img src="/static/upvote.png" height="20" width="20" /></button>
                        </form></td>
                        <td><form action="/upvote_answer" method="POST">
                                <input type="hidden" name="question_id" value="{{ question['ID'] }}"/>
                                <input type="hidden" name="answer_id" value="{{ answer['ID'] }}"/>
                                <input type="hidden" name="vote" value="down"/>
                                <button type="submit"><img src="/static/downvote.png" height="20" width="20" /></button>
                        </form></td>
                    </tr>
                </table>
        {% endfor %}
        <p>
            <a href="/"><button type="submit">Back to the Questions page</button></a>
        </p>

        <footer>
            <img src="/static/logo_regular.png" height="10%" width="10%" />
        </footer>
    </body>
</html>
