<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>
            {{question["title"]}}
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/display_template.css')}}">
    </head>
    <body>
        <a href="/" id="logo">
            <h3 id="logo_h3">Askmate</h3>
        </a>
        <h2>
            {% autoescape false %}
                {{ question["title"] }}
            {% endautoescape %}
        </h2>
        <p id="message">
            {% autoescape false %}
                {{ question["message"] }}
            {% endautoescape %}
        </p>
        {% if question['image'] != None %}
            <p>
                <img src="{{question['image']}}" height=20% width="20%" />
            </p>
        {% endif %}
        <table>
            <tr>
                <td>
                    <b>Submitted:</b> {{question["submission_time"]}}
                </td>
                <td>
                    <b>Views:</b> {{question["view_number"]}}
                </td>
                <td>
                    <a href="/question/{{ question['id'] }}/edit">
                        <abbr title="Edit question"></abbr><img src="/static/edit.svg" width="20" height="20" alt="Edit">
                    </a>
                </td>
                <td>
                    <a href="/question/{{ question['id'] }}/delete">
                        <abbr title="Delete question"></abbr><img src="/static/delete.png" width="20" height="20" alt="Delete">
                    </a>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <b>Votes:</b> {{question["vote_number"]}}
                </td>
                <td>
                    <form action="/upvote_question" method="POST">
                    <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                    <input type="hidden" name="vote" value="up"/>
                        <p>
                            <button type="Submit"><abbr title="Upvote question"></abbr><img src="/static/upvote.png" height="20" width="20" /></button>
                        </p>
                    </form>
                </td>
                <td>
                    <form action="/upvote_question" method="POST">
                    <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                    <input type="hidden" name="vote" value="down"/>
                        <p>
                            <button type="Submit"><abbr title="Downvote question"></abbr><img src="/static/downvote.png" height="20" width="20" /></button>
                        </p>
                    </form>
                </td>
            </tr>
        </table>
        {% if question_comments != [] %}
            <h4>
                Comments to question:
            </h4>
            {% for dict in question_comments%}
                    <p id=comment_message>
                        {{ dict["message"]}}
                        <a href="/comments/{{ dict['id'] }}/edit"><abbr title="Edit comment">
                            </abbr><img src="/static/edit.svg" width="20" height="20" alt="Edit">
                        </a>
                        <a href="/comments/{{ dict['id'] }}/delete">
                                <abbr title="Delete comment"></abbr><img src="/static/delete.png" width="20" height="20" alt="Delete">
                        </a>
                    </p>

                    <p>
                        <b>Submission time: </b>{{ dict["submission_time"] }}
                    </p>
                    <p>
                        <b>Edited: </b>{{ dict["edited_count"] }}
                    </p>
            {% endfor %}
        {% endif %}
            <a id="comment_question" href="/question/{{ question['id'] }}/new-comment">Add comment to question</a>
            <p></p>
            <a id="answer_question" href="{{url_for('new_answer', question_id=question['id'])}}">Answer this question</a>
            <p></p>
        {% if answer_list != [] %}
            <p id="answer_header"> Answers </p>
            {% for answer in answers_list %}
                <div>
                    <p id="answer_to_question"> {{answer['message']}}</p>
                    {% if answer['image'] != '' %}
                        <p><img src="{{answer['image']}}" height=20% width="20%" /></p>
                    {% endif %}
                    <p><b>Submitted:</b> {{ answer['submission_time'] }}</p>
                </div>
                <table>
                    <tr>
                        <td><b>Votes:</b> {{answer["vote_number"]}}</td>
                        <td>
                            <form action="/upvote_answer" method="POST">
                                <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                                <input type="hidden" name="answer_id" value="{{ answer['id'] }}"/>
                                <input type="hidden" name="vote" value="up"/>
                                <button type="submit"><abbr title="Upvote answer"></abbr><img src="/static/upvote.png" height="20" width="20" /></button>
                            </form>
                        </td>
                        <td>
                            <form action="/upvote_answer" method="POST">
                                <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                                <input type="hidden" name="answer_id" value="{{ answer['id'] }}"/>
                                <input type="hidden" name="vote" value="down"/>
                                <button type="submit"><abbr title="Downvote answer"></abbr><img src="/static/downvote.png" height="20" width="20" /></button>
                            </form>
                        </td>
                    </tr>
                </table>
                <form action="{{ url_for('delete_answer', answer_id=answer['id'] ) }}" method="POST">
                    <p>
                        <input type="hidden" name="question_id" value="{{ question['id'] }}"/>
                        <button id="delete_answer"type="Submit">Delete answer</button>
                        <a id="comment_answer"href="/answer/{{ answer['id'] }}/new-comment">Comment this answer</a>
                    </p>
                </form>
                {% if answer_comment_count[answer['id']] != 0 %}
                    <h4>
                        Comments to answer:
                    </h4>
                    {% for comment_dict in answer_comments %}
                        <p></p>
                        {% if comment_dict['answer_id'] == answer['id'] %}
                            <p id="comment_message" class="comment">
                                {{ comment_dict["message"]}}
                                <a href="/comments/{{ comment_dict['id'] }}/edit"><abbr title="Edit comment"></abbr><img src="/static/edit.svg" width="20" height="20" alt="Edit"></a>
                                <a href="/comments/{{ comment_dict['id'] }}/delete"><abbr title="Delete comment"></abbr><img src="/static/delete.png" width="20" height="20" alt="Delete"></a><br>
                            </p>
                            <p>
                                <b>Submission time:</b> {{ comment_dict["submission_time"] }}
                            </p>
                            <p>
                                <b>Edited:</b> {{ comment_dict["edited_count"] }}
                            </p>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <p></p>
        <a id="answer_question" href="{{url_for('new_answer', question_id=question['id'])}}">Add another answer for this question</a>
        <p></p>
        <a id="back_from_display" href="/"><abbr title="Back to the question page"><img src="{{url_for('static', filename='leftarrow.png')}}" width='40' height='40' alt='Back'></abbr></a>

    </body>
</html>
