<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/display_template.css')}}">
    <head>
        <meta charset="utf-8">
        <title>New question</title>
    </head>
    <body>
        {% if form_type == "add_question" %}
            <h1>Ask a question</h1>
                <form action="/new_question" method="post">
                    <input type="hidden" name="username" value="{{ session['username'] }}">
                    <p>
                        <label for="title">Question title</label><br>
                        <textarea name="title" minlength="10" cols="50" maxlength="140" required></textarea>
                    </p>
                    <p>
                        <label for="message">Question Body</label><br>
                        <textarea name="message" rows="5" cols="50" maxlength="140" required></textarea>
                    </p>
                    <p>
                        <label for="image">Image link</label><br>
                        <textarea id="last_text" name="image" rows="5" cols="50"></textarea>
                    </p>
                    <div id="create">
                    <button type="submit"><abbr title="Create question"><img src="static/tick.png" width="30" height="30" alt="Create"></abbr></button>
                    </div>
                </form>
                <a id="back"href="/"><abbr title="Back to the question page"><img src="static/leftarrow.png" width="30" height="30" alt="Back"></abbr></a>
        {% endif %}
        {% if form_type == "edit_question" %}
            <h1>Edit a question</h1>
                <form action="/question/{{ question['id'] }}/edit" method="post">
                    {% autoescape false%}
                        <p>
                            <label for="title">Question title</label><br>
                            <textarea name="title" minlength="10" rows="1" cols="50" maxlength="140" required>{{ question["title"] }}</textarea>
                        </p>
                        <p>
                            <label for="message">Question Body</label><br>
                            <textarea name="message" rows="5" cols="50" maxlength="140" required>{{ question["message"] }}</textarea>
                        </p>
                        <p>
                            <label for="image">Image link</label><br>
                            {% if question["image"] != None %}
                                <textarea name="image" rows="5" cols="50">{{ question["image"] }}</textarea>
                            {% else %}
                                <textarea name="image" rows="1" cols="50"></textarea>
                            {% endif %}
                        </p>
                        <button>Update</button>
                    {% endautoescape %}
                </form>
                <p>
                    <a href="/"><button >Back to the Questions page</button></a>
                </p>
        {% endif %}
        {% if form_type == "answer" %}
            <h1>Add an answer!</h1>
            <form action="/add_answer" method="post">
                <p>
                        <label for="message">Answer</label><br>
                        <textarea name="answer" rows="5" cols="50" minlength="10" maxlength="140" required></textarea>
                    </p>
                    <p>
                        <label for="image">Image link</label><br>
                        <textarea name="image" rows="1" cols="50"></textarea>
                    </p>
                    <input type="hidden" name="question_id" value="{{ question_id }}"/>
                    <button type="submit">Add answer</button>
            </form>
            <p>
                <a href="/question/{{ question_id }}"><button>Back to the Question</button></a>
            </p>
        {% endif %}
        {% if form_type == "comment_to_question" %}
            <h1>Add a comment to this question</h1>
                <form action="/question/{{ question_id }}/new-comment" method="POST">
                <p>
                        <label for="message">Comment this question</label><br>
                        <textarea  name="message" rows="5" cols="50" minlength="10" maxlength="140" required></textarea>
                </p>
                <input type="hidden" name="question_id" value="{{ question_id }}"/>
                <button type="submit">Add comment</button>
                </form>
        {% endif %}
        {% if form_type == "comment_to_answer" %}
            <h1>Add a comment to this answer</h1>
                <form action="/answer/{{ answer_id }}/new-comment" method="POST">
                <p>
                        <label for="message">Comment this answer</label><br>
                        <textarea  name="message" rows="5" cols="50" minlength="10" maxlength="140" required></textarea>
                </p>
                <input type="hidden" name="question" value="{{ question_id }}"/>
                <button type="submit">Add comment</button>
                </form>
        {% endif %}
        {% if form_type == "edit_comment" %}
            <h1>Edit this comment</h1>
                <form action="/comments/{{ comment_id }}/edit" method="post">
                    {% autoescape false%}
                        <p>
                            <textarea name="message" rows="5" cols="50" minlength="10" maxlength="140" required>{{ comment_data["message"] }}</textarea>
                        </p>
                        <button>Update</button>
                    {% endautoescape %}
                </form>
                <p>
                    <a href="/"><button >Back to the Questions page</button></a>
                </p>
        {% endif %}
        {% if form_type == "edit_answer" %}
                <h1>Edit this answer</h1>
                    <form action="/answer/{{ answer['id']  }}/edit_answer" method="POST">
                        <p>
                                <textarea name="message" rows="5" cols="50" minlength="10" maxlength="140" required>{{ answer["message"] }}</textarea>
                        </p>
                        <p>
                                <textarea name="image" rows="5" cols="50" minlength="10" maxlength="140">{{ answer["image"] }}</textarea>
                        </p>
                        <input type="hidden" name="question_id" value="{{ answer['question_id'] }}"/>
                        <input name="answer_id" type="hidden" value="{{ answer['id']  }}">
                        <button type="Submit">Update</button>
                    </form>
        {% endif %}

    </body>
</html>
