<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New question</title>
    </head>
    <body>
        {% if form_type == "add_question" %}
            <h1>Ask a question</h1>
                <form action="/add_question/{{ id }}" method="post">
                    <p>
                        <label for="title">Question title</label><br>
                        <input name="title" minlength="10" required></input>
                    </p>
                    <p>
                        <label for="message">Question Body</label><br>
                        <textarea name="message" rows="5" cols="50" required></textarea>
                    </p>
                    <button type="submit">Create</button>
                </form>
        {% endif %}
        {% if form_type == "edit_question" %}
            <h1>Edit a question</h1>
                <form action="/question/{{ question['ID'] }}/edit" method="post">
                    <p>
                        <label for="title">Question title</label><br>
                        <input name="title" minlength="10" required>{{ question["title"] }}</input>
                    </p>
                    <p>
                        <label for="message">Question Body</label><br>
                        <textarea name="message" rows="5" cols="50" required>{{ question["message"] }}</textarea>
                    </p>
                    <button type="submit">Update</button>
                </form>
        {% endif %}
        {% if form_type == "answer" %}
            <h1>Add an answer!</h1>
            <form action="/add_answer" method="post">
                <p>
                        <label for="message">Answer</label><br>
                        <textarea name="answer" rows="5" cols="50"></textarea>
                    </p>
                    <input type="hidden" name="question_id" value="{{ question_id }}"/>
                    <button type="submit">Add answer</button>
                <p>
                    <a href="/">Back to the Questions page</a>
                </p>
            </form>
        {% endif %}
    </body>
</html>
