<!DOCTYPE html>
{% if order == 'DESC' %}
    {% set ordering = 'ASC' %}
{% else %}
    {% set ordering = 'DESC' %}
{% endif%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Askmate</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    </head>
    <body>
        <h1>Askmate</h1>
        <h2>Questions</h2>
        <table>
            <tr>
                <td>
                    <a href="{{ url_for('new_question_form') }}"><input type="submit" value="Ask a question"></a>
                </td>
                <td>
                    <a href="{{url_for('index_list', criteria='id', order=ordering)}}"><input type="submit" value="See full list"></a>
                </td>
                <td>
                    <a href="/"><input type="submit" value="Latest 5 Questions"></a>
                </td>
            </tr>
        </table>
        <table border="1" cellpadding="10">
            {% if limit == 5 %}
            <tr>
                <th><a href="{{url_for('index', criteria='id', order=ordering )}}"> ID </th>
                <th><a href="{{url_for('index', criteria='submission_time', order=ordering )}}"> Submission time </th>
                <th><a href="{{url_for('index', criteria='view_number', order=ordering )}}"> View number </th>
                <th><a href="{{url_for('index', criteria='vote_number', order=ordering )}}"> Vote number </th>
                <th> Title </th>
            </tr>
            {% else %}
            <tr>
                <th><a href="{{url_for('index_list', criteria='id', order=ordering )}}"> ID </th>
                <th><a href="{{url_for('index_list', criteria='submission_time', order=ordering )}}"> Submission time </th>
                <th><a href="{{url_for('index_list', criteria='view_number', order=ordering )}}"> View number </th>
                <th><a href="{{url_for('index_list', criteria='vote_number', order=ordering )}}"> Vote number </th>
                <th> Title </th>
            </tr>
            {% endif %}
            {% for row in table %}
            <tr>
                {% for key in header %}
                    {% if key == "title": %}
                        <td align="center"><a href="{{url_for('display_question_by_id', question_id = row['id'])}}"> {{ row["title"] }} </a></td>

                    {% elif key not in ("message", "image") %}
                        <td align="center">{{ row[key] }}</td>
                    {% endif %}
                {% endfor %}
                {% if row: %}
                    <td><a href="/question/{{ row['id'] }}/edit"><img src="static/edit.svg" width="20" height="20" alt="Edit"></a></td>
                    <td><a href="/question/{{ row['id'] }}/delete"><img src="static/waste-bin.svg" width="20" height="20" alt="Delete"></a></td>
                {% endif%}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
