<!DOCTYPE html>
{% if order == 'DESC' %}
    {% set ordering = 'ASC' %}
{% else %}
    {% set ordering = 'DESC' %}
{% endif%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Askmate</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/home.css')}}">
    </head>

    <body>
        <h1>Askmate</h1>
        {% if not session %}
        <a id="login" href="{{ url_for('login') }}">Login</a>
        <a id="register_button" href="{{ url_for('registration') }}" id="register">Register</a>
        {% endif %}
        {% if session %}
                <div id="logged_in">Logged in as {{ session['username'] }}</div>
                <a id="login" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <a href="{{ url_for('new_question_form') }}" id="add"><abbr title="Add new question"><img src="static/Add.png" width="30" height="30" alt="Add new question"></abbr></a>
        {% if limit == 5 %}
        <a href="{{url_for('index_list', criteria='id', order=ordering)}}" id="full_list"><abbr title="See full list"><img src="static/downarrow.png"width="30" height="30" alt="See full list"></abbr></a>
        <table border="1" cellpadding="10">
            <tr class="header">
                <th class=table_head_start><a href="{{url_for('index', criteria='submission_time', order=ordering )}}"> Submission time </th>
                <th><a href="{{url_for('index', criteria='view_number', order=ordering )}}"> View number </th>
                <th><a href="{{url_for('index', criteria='vote_number', order=ordering )}}"> Vote number </th>
                <th> Title </th>
                <th> Edit </th>
                <th class="table_head_end"> Delete </th>
            </tr>
            <tr class="spacer"></tr>
        {% else %}
        <a href="{{url_for('index')}}" id="latest_five_question"><abbr title="See latest five questions"><img src="static/uparrow.png"width="30" height="30" alt="See latest five questions"></abbr></a>
        <table border="1" cellpadding="10">
            <tr class="header">
                <th class=table_head_start><a href="{{url_for('index_list', criteria='submission_time', order=ordering )}}"> Submission time </th>
                <th><a href="{{url_for('index_list', criteria='view_number', order=ordering )}}"> View number </th>
                <th><a href="{{url_for('index_list', criteria='vote_number', order=ordering )}}"> Vote number </th>
                <th> Title </th>
                <th> Edit </th>
                <th class="table_head_end"> Delete </th>
            </tr>
            <tr class="spacer"></tr>
        {% endif %}
        {% for row in table %}
        <tr id="content">
            {% for key in header %}
                {% if key == "title": %}
                    <td align="center"><a href="{{url_for('display_question_by_id', question_id = row['id'])}}"> {{ row["title"] }} </a></td>

                {% elif key not in ("message", "image", "id") %}
                    <td align="center">{{ row[key] }}</td>
                {% endif %}
            {% endfor %}
            {% if row: %}
                <td><a href="/question/{{ row['id'] }}/edit"><abbr title="Edit"><img src="static/edit.svg" width="20" height="20" alt="Edit"></abbr></a></td>
                <td><a href="/question/{{ row['id'] }}/delete"><abbr title="Delete"><img src="static/delete.png" width="20" height="20" alt="Delete"></abbr></a></td>
            {% endif%}
        </tr>
        <tr class="spacer"></tr>
        {% endfor %}
        </table>
        <a href='/user_list'>User list</a>
    </body>
</html>
