<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/display_template.css">
</head>
<body>
    <h1>Login page</h1>
    <form action="/login" method="POST">
    <p>
        <label for="username">User name</label><br>
        <input name="username" type="text" maxlength="15"><br>
    </p>
    <p>
        <label for="password">Password</label><br>
        <input name="password" type="password" maxlength="10"><br>
    </p>
        <abbr title="Login"><button type="submit">Login</button></abbr>
    </form>
</body>
</html>