body {
    background:#F7F7FF;
  }

h1, h2 {
    font: bold 40px arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
  }

h3{
    font: 15px arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
}

p, pre, b, a{
    font-family: Courier, "Times New Roman", sans-serif;
    font-size: 15px;
}

b{
    font: 15px arial, sans-serif;
    font-size: 20px
}

a
{
  text-decoration: none;
  float: right;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin-right: 50px;
  padding: 1px 2px;
  background-color: #cccccc;
}
  a:hover {
    background-color: #a6a6a6;
  }
