body {
    background:#D7D7DB;
}

h1 {
    font: bold 80px arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #3D3A37;
    color: transparent;
    text-shadow: 4px 4px 3px rgba(255,255,255, 0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

h2 {
  text-align: center;
}

table {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   width: 77.5%;
   border: none;
   border-collapse: collapse;
}

.spacer {
  padding: 10px;
  background-color: #D7D7DB;
  display: block;
}

.table_head_start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table_head_end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr.header th {
  background-color: #9B1D20;
  color: white;
  border-width: 0;
}

.header {
  margin: 25px;
  position: relative;
}

tr.header a {
  color: white;
  text-decoration: none;
}

tr.header a:hover {
  text-decoration: underline;
}


#login_button, #register_button, #userpage_button, #user_list_button {
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: #9B1D20;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
}

#login_button {
  right: 20px;
}

#register_button {
  right: 100px;
}

#userpage_button {
  right: 110px;
}

#user_list_button {
  left: 10px;
}

#content td {
  border:none;
  background-color: white; 
  padding: 25px;
}

#logged_in {
  top: 20px;
  margin: 0 auto;
  text-align: center;;
}

#content td:first-child {
   border-top-left-radius: 10px;
   border-bottom-left-radius:  10px;
}

#content td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#content img {
  margin: auto;
}

a:visited {
  color: blue;
}

/* #add {
  position: absolute;
  top: 237px;
  right: 100px;
}

#full_list, #latest_five_question {
  position: absolute;
  top: 237px;
  right: 50px;
} */

#menu {
  text-align: center;
  position: relative;
  width: 77.5%;
  margin: 0 auto;
}

#add, #search, #full-list, #latest_five_question {
  display: inline-block;
}

#add {
  position: absolute;
  top: 10px;
  left: 10px;
}

#full_list, #latest_five_question {
  position: absolute;
  top: 10px;
  right: 10px;
}

#logo {
  text-decoration: none;
}


#logo_h3{
  margin-top: 10px;
  margin-bottom: 0px;
  font: bold 40px arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
  background-color: #3D3A37;
  color: transparent;
  text-shadow: 4px 4px 3px rgba(255,255,255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

#question_table, #answer_table, #comment_table {
  margin: 0 auto;
  width: 70%;
}

#search {
  text-align: center;
}