body {
    background:#ccc;
  }

h1 {
    font: bold 100px arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #3F3F3F;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }


  a:hover {
    text-decoration: none;
  }
a:visited {
  color: blue;
}